Flask==2.0.1
numpy==1.21.2  # Asegúrate de usar una versión compatible con tu versión de scikit-learn
scipy==1.7.1   # scipy a veces también es necesario antes de scikit-learn
joblib==1.0.1
scikit-learn==0.24.2
